body{
    background-color: rgba(0, 0,0, 0.9);
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.showcase::after{
 content: "";
 height: 100vh;
 width: 100%;
 background-image: url(photo.jpg);
 background-size: cover;
 background-repeat: no-repeat; 
 background-position: center;
 display: block;
 filter: blur(3px);
 -webkit-filter: blur(3px);
 transition: all 800ms;
  
}

  .showcase:hover .content{
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);    

  }

.showcase:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);    
}

.content{
    position: absolute;
    z-index: 1;
   top:35%;
   left: 40%;
   text-align: center; 
   margin-left:-145px; ;
   transition: all 1500ms ;
}

.content .logo{
    width: 150px;
    height: 150px;
}
.content .title{
 font-size: 2.2rem;
 color: rgb(34, 33, 8);
 margin-top: 1rem;
 font-size: 50px;
 font-weight: bolder;
   
}
.content .text{
   line-height: 1.5rem;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    text-align: center;
}
.grid-3 p{
    text-align: center;

}

.grid-2{
    display: grid;
    grid-template-columns: repeat(1,2fr 5fr);
    margin-top: 50px;
    background-color: rgb(71, 67, 67);
}
.container .grid-2 .img-about{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
  
}

.grid-2 .content-about header{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.grid-2 p{
    padding-bottom: 2rem;
}
footer{
    padding:1.5rem;
}

footer p{
    text-align: center;
}